fastapi
uvicorn
sqlalchemy
psycopg2-binary
pgvector
alembic
pydantic
pydantic-settings
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
python-multipart
aiofiles
langchain
langchain-community
ollama
pypdf
python-dotenv